<!-- <footer class="footer center">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer> -->

<!-- <div class="footer footer-fix">
  <p>&copy; MyRecipes 2015</p>
</div> -->

<footer class="footer">
  <nav>
    <ul>
      <li>&copy; MyRecipes 2015</li>
    </ul>
  </nav>
</footer>

